.duration-and-progress-bar {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.duration-container {
  display: flex;
  align-items: center;
  align-items: left;
  height: 100%;
  flex: 2.6;
}

.progress-bar-container {
  display: flex;
  flex: 10;
  height: 100%;
  width: 100%;
  align-items: flex-end;
  cursor: pointer;
  /* background-color: purple !important; */
}

.progress {
  height: 100%;
  width: 100%;
  pointer-events: none;
}
