:root {
  --iconHoverBackgroundColor: #0aa356;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100%;
}
.video-player-and-controls-container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-container {
  height: 100%;
  width: 100%;
  /* background-color: lightcoral; */
}

.controls-container {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
