:root {
  --iconHoverBackgroundColor: #0aa356;
  /* --playAndPauseButtonContainerHeight: 100%;s */
}
.play-and-pause-button-container {
  /* height: var(--playAndPauseButtonContainerHeight); */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 5%;
}

.play-and-pause-button-container:hover {
  background-color: var(--iconHoverBackgroundColor);
}
