:root {
  --iconHoverBackgroundColor: #0aa356;
  /* --playAndPauseButtonContainerHeight: 100%;s */
}
.button-container {
  /* height: var(--playAndPauseButtonContainerHeight); */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-container:hover {
  background-color: var(--iconHoverBackgroundColor);
}
